body {
  font-family: Arial, sans-serif;
}

.navbar {
  padding: 20px;
}

.hero {
  margin: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.card {
  width: 200px;
  text-align: center;
}
