body {
  font-family: Arial, sans-serif;
}

.navbar {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 50px;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.card {
  width: 200px;
  text-align: center;
}

.btn-1 {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;

}

.header-1 {
  text-align: start;

}

.para-1 {
  text-align: start;

}
